root: {
    --light: ;
    --dark: ;
    --shadow: 0 1px 5px rgba(34, 76, 0, 0.8);
    --primary: ;
    --secondary: ;
}

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    line-height: 1.4;
    background: url(../img/body-bg.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.container {
    margin: 30px 50px;
}